@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Delicious.Feature.Homepage
@using Delicious.Foundation.SitecoreHelperExtensions
@model RenderingModel
<!-- ##### CTA Area Start ##### -->
<section class="cta-area bg-img bg-overlay" style="background-image: url(@Html.Sitecore().GetMediaUrl(Templates.HomepageCTA.Fields.CTABackgroundImage));">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <!-- Cta Content -->
        <div class="cta-content text-center">
          <h2>@Html.Sitecore().Field(Templates.HomepageCTA.Fields.CTATitle)</h2>
          <p>@Html.Sitecore().Field(Templates.HomepageCTA.Fields.CTAText)</p>
          @Html.Sitecore().BeginField(Templates.HomepageCTA.Fields.CTALink.ToString(), new { @class = "btn delicious-btn",  DisableWebEdit = false })
          @Html.Sitecore().EndField()
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### CTA Area End ##### -->